<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
</head>
<body style="background-color: rgb(115, 147, 179); font-family: 'Times New Roman', Times, serif;">
    <h1 style="text-align: center; margin-top: 20%;">Under Construction</h1>
    <p style="text-align: center;">This page is under construction. Please come back later.</p>
    <img style="display: block; margin: 0 auto;" src="/assets/linux.gif">
</body>
</html>