<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my website :3</title>
</head>

<body style="background-color: rgb(115, 147, 179); font-family: Helvetica;">
    <div>
        <h1>hello!</h1>
        <strong>welcome</strong> to my website, my name is lillie and i go by she/they pronouns. on my website you can
        find information about myself and projects i have worked on.
        <br>
        <strong>education:</strong> i am currently a computer science student at <strong>Indiana University
            Bloomington</strong>, with an interest in systems and programming languages.
        <br>
        <strong>github:</strong> <a href="https://github.com/onlinechronically">@onlinechronically</a>
        <br>
        <h3>projects:</h3>
        <ul>
            <li><a href="https://github.com/onlinechronically/tail">tail</a>: A CLI tool that can be used as a layer of
                abstraction on top of the Spotify API to help build utilities that involve data relating to the user's
                playback state.</li>
            <li><a href="https://github.com/SamsterJam/LuddyHackathonSP24">Luddy Hackathon 2024</a>: This project was my
                groups solution to a Hackathon I participated in, during the Spring in 2024, which we ended up placing
                in first for.</li>
            <li><a href="https://github.com/onlinechronically/C291FinalProject">CSCI-C 291 Final Project</a>: This
                repository contains the source code of my Final Project in CSCI-C 291 (System Programming with C and
                Unix) @ IUB</li>
            <li><a href="https://github.com/onlinechronically/ASimpleProgrammingLanguage">CSCI-C 212 Mini Project</a>:
                This repository contains the source code of my "Mini" Project in
                CSCI-C 212 (Introduction to Software Systems) @ IUB</li>
        </ul>
        <h3>experience:</h3>
        <ul>
            <li><strong>Undergraduate Instructor</strong> for CSCI-C 212 (FA24) - Indiana University Luddy School of
                Informatics, Computing, and Engineering</li>
            <li><strong>Peer Tutor</strong> (SP24, FA24) - Indiana University Luddy School of Informatics, Computing,
                and Engineering</li>
            <li><strong>Instructor</strong> (December 2022 - August 2023) - theCoderSchool</li>
        </ul>
        <h3>courses taken:</h3>
        <ul>
            <li><strong>MATH-211 (IvyTech)</strong> Calculus 1</li>
            <li><strong>CSCI-C 200</strong> Introduction to Computers and Programming</li>
            <li><strong>CSCI-C 212</strong> Introduction to Software Systems</li>
            <li><strong><a href="https://github.com/onlinechronically/Obsidian-Vault/tree/master/CSCI-C241">CSCI-C
                        241</a></strong> Discrete Structures for Computer Science</li>
            <li><strong><a href="https://github.iu.edu/mdonato/CSCI-C291">CSCI-C 291</a></strong> System
                Programming with C and Unix</li>
        </ul>
    </div>
</body>

</html>
